<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">
<!--    <footer class="container-fluid text-center"-->
<!--            style="margin-bottom:0; background-color: lightgray; padding: 5rem 0; width: 100%">-->
<!--        &lt;!&ndash;        position: absolute; bottom: 0;&ndash;&gt;-->
<!--        <p>Created by Hyunsb</p>-->
<!--        <p><i class="uil uil-phone"></i> 010-0000-0000</p>-->
<!--        <p><i class="uil uil-location-point"></i> Siheung-si, Gyeonggi-do, Republic of Korea</p>-->
<!--    </footer>-->
</th:block>

</html>